.App {
  width: 100%;
  height: 100%;
  background-color: rgb(227, 227, 241)
}

.container {
  width: 40%;
  margin: auto;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my-input {
  display: block;
  padding: 5px 10px;
  margin: 10px 0;
  border: 1px solid #cecccc;
  border-radius: 4px;
}

.submit {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 5px 0;
  background-color: green;
  color: white;
  border: 1px solid;
  border-radius: 4px;
}
.d1 {
  border: 1px solid #000;
  width: 30%;
  display: inline-block;
}

.d2 {
  border: 1px solid #000;
    width: 69%;
    display: inline-block;
}
.conv {
  border: 1px solid gray;
}